<div class="container" >
    <div class="cta-form" data-aos="fade-up" data-aos-delay="200">
      <h2>Contactame</h2> 
    <p>¿Tienes algun proyecto en mente?. Escribeme!</p>
    </div>
    <form action="" class="form" data-aos="fade-up" data-aos-delay="200">
      
      <input type="text" placeholder="Name" class="form__input" id="name" />
      <label for="name" class="form__label">Name</label>

      <input type="email" placeholder="Email" class="form__input" id="email" />
      <label for="email" class="form__label">Email</label>

      <input type="text" placeholder="Subject" class="form__input" id="subject" />
      <label for="subject" class="form__label">Subject</label>

      <textarea placeholder="Mensaje" class="form__input" id="mensaje"></textarea>
      <label for="mensaje" class="form__label">Mensaje</label>

        <button type="submit">Enviar mensaje</button>
      
    </form>
</div>
 