<section class="about">
  
  <h2 class="about-title" data-aos="fade-right" >Sobre mí</h2>

  <div class="about-content" data-aos="fade-left" data-aos-delay="200">
      <p>""Hola, soy Sean De Paz, tengo 23 años y soy estudiante de cuarto año de Licenciatura en Administración de Sistemas de Información en Universidad Galileo, Guatemala. Me apasiona el desarrollo web con Angular y el mundo de los datos e inteligencia artificial con Python, donde ya cuento con proyectos reales como un predictor de precios de vivienda y un chatbot con IA. Fuera del código, disfruto los videojuegos y tengo un fuerte interés en ciberseguridad — un área en la que me gustaría crecer profesionalmente.
         Actualmente busco oportunidades freelance para seguir construyendo experiencia mientras avanzo hacia una carrera internacional en tecnología.""</p>
  </div>

  <div class="about-skills" data-aos="fade-left" data-aos-delay="200">
    <span class="skill-badge">Angular</span>
    <span class="skill-badge">Python</span>
    <span class="skill-badge">HTML</span>
    <span class="skill-badge">MySQL</span>
    <span class="skill-badge">TypeScript</span>
    <span class="skill-badge">Windows Server</span>
    <span class="skill-badge">Linux</span>
  </div>

</section>
