<section class="projects">
  <h2 class="projects-h2">Mis Proyectos</h2>
 
  <div class="projects-grid" data-aos="fade-up" data-aos-delay="200">
       <div class="card">
         <h3 class="project-tittle">Housing Price Predictor</h3>
          <p class="project-description">Modelo de Machine Learning que predice precios de vivienda usando Random Forest sobre el dataset California Housing. Incluye análisis exploratorio y visualización de datos.</p>
  
         <div class="card-tags">
           <span class="tag">Python</span>
           <span class="tag">Random Forest</span>
           <span class="tag">Scikit-learn</span>
           <span class="tag">Pandas</span>
           
         </div>

         <a href="https://github.com/Seanm18/proyectos_portafolio" target="_blank">
         <button class="card-btn">Ver en GitHub</button>
         </a>
      </div>


      <div class="card">
         <h3 class="project-tittle">RAG Chatbot</h3>
         <p class="project-description">Chatbot inteligente que responde preguntas basándose en documentos propios usando ChromaDB como base vectorial y LLaMA 3.1 a través de la API de Groq.</p>
  
         <div class="card-tags">
          <span class="tag">Python</span>
          <span class="tag">ChromaDB</span>
          <span class="tag">Groq API</span>
         </div>

         <a href="https://github.com/Seanm18/proyectos_portafolio" target="_blank">
          <button class="card-btn">Ver en GitHub</button>
         </a>
      </div>


   <div class="card">
        <h3 class="project-tittle">Portafolio Web</h3>
        <p class="project-description">Sitio web personal desarrollado con Angular 19 y CSS para mostrar proyectos y habilidades. Incluye animaciones con AOS y diseño responsive.</p>
  
      <div class="card-tags">
        <span class="tag">Angular</span>
        <span class="tag">TypeScript </span>
        <span class="tag">CSS</span>
        <span class="tag">AOS</span>
      </div>

       <a href="https://github.com/Seanm18/..." target="_blank">
        <button class="card-btn">Ver en GitHub</button>
       </a>
    </div>

 </div>

</section>




